<p>
A friend came up to me the other day, and suggested I build an app that matches a person’s wardrobe to the expected temperature outside. I feinted some enthusiasm for the idea, and quickly changed the topic.
</p>
<p>
As a programmer, I get a lot of people suggesting apps or websites I should make. I usually use the aforementioned tactics, although I have recently started to reconsider what a good app idea is.
</p>
<p>
It’s anyone’s guess how an idea will hold up once it is actually in front of a user. Most of the leading literature on start up development preaches early product modifications to curve an app to an audience. Rationally this makes sense, but if all this change is happening, then what exactly was the purpose of the original idea?
</p>
<p>
All of this points to an idea being more of an excuse to build an app, than actual reason. Once the app is built, it can change drastically if there are audience clues to follow.
</p>
<p>
The wardrobe app to me does not seem like a reasonable idea to pursue, but who’s to say that it would not transform into an app with an audience and a means to make money.
</p>
<p>
The bottom line is that in most cases, an app will become something very different from its first stage conception. Instead of investing in ideas, there should be more of a focus on the team building the app. Is it efficient, lean, and able to generate meaningful solutions when presented with audience data.
</p>
<p>
If a million monkeys on a million typewriters can write Dickens, maybe a handful of the right startup teams can build the next great app.
</p>