<section id="writing">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-md-3 col-lg-2">
				<ul>
					<li ng-repeat="writing in writings" ng-show="writing.name == current_writing">{{writing.name}}</li>
				</ul>
				<ul class="list-unstyled">
					<li ng-repeat="writing in writings" ng-click="changeCurrentWriting(writing.name)" ng-show="writing.name != current_writing">{{writing.name}}</li>
				</ul>
			</div>
			<div class="col-sm-8 col-md-9 col-lg-10">
				<div ng-repeat="writing in writings" ng-show="current_writing == writing.name" class="writing-container">
					<div ng-include="'writings/' + writing.link_name">
				</div>
			</div>
		</div>
	</div>
</section>